@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "variables";

html, body {
	color: $black;
	margin: 0;
	padding: 0;
	border: 0;
}
body {
	background: $background;
	overflow-x: hidden;
	font-family: $sans;
	font-size: 17px;
	position: relative;
	left: 0;
	transition: left 0.2s linear;
	&.expanded {
		left: $slide-menu-width;
		overflow: hidden;
		.slide-menu-overlay {
			position: fixed;
			z-index: 900;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0.35);
			cursor: pointer;
		}
	}
	&.modal-open {
		overflow: hidden;
	}
}
@include media-breakpoint-up(xl) {
	.hide-xl {
		display: none !important;
	}
}
@include media-breakpoint-down(lg) {
	.show-xl {
		display: none !important;
	}
}
@include media-breakpoint-up(md) {
	.small {
		display: none !important;
	}
}
@include media-breakpoint-down(sm) {
	.large {
		display: none !important;
	}
}
img {
	max-width: 100%;
}
:focus {
	outline: none;
}
a {
	text-decoration: none;
	color: $tertiary;
	&:hover, &:focus {
		color: darken($tertiary, 15%);
	}
}
p, li {
	a {
		color: $primary;
		&:hover, &:focus {
			color: $primary;
			text-decoration: underline;
		}
	}
}
.link-stn {
	color: $tertiary;
	text-decoration: underline;
	font-style: italic;
	&:hover, &:focus {
		color: darken($tertiary, 15%);
	}
}
.retina-image {
  display: none;
}
@media  only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (   -moz-min-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx)
{
  .normal-image {
    display: none;
  }
  .retina-image {
    display: inline-block;
  }
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: $serif;
	display: block;
	width: 100%;
}
h1 {
	font-family: $serif;
	color: $primary;
	margin: 0 0 1.5rem;
	text-align: center;
	font-weight: bold;
}
h2 {
	font-family: $sans;
	color: $secondary;
	font-size: 1.25em;
	font-weight: 700;
	margin: 0 0 1rem;
	text-align: center;
}
h4 {
	font-family: $sans;
	color: $primary;
	font-size: 1em;
	font-weight: 700;
	margin: 0 0 0.5rem;
	text-align: left;
}
h5 {
	font-family: $sans;
	color: $black;
	font-size: 0.95em;
	font-weight: 700;
	margin: 0 0 1rem;
	text-align: center;
}

/* Buttons */
.btn {
	display: inline-block;
	padding: 0 5rem;
	height: 45px;
	line-height: 45px;
	color: $white;
	text-decoration: none;
	text-align: center;
	border-radius: 6px;
	font-family: $sans;
	font-size: 1em;
	font-weight: 400;
	border: 1px solid $white;
	box-shadow: none;
	outline: none;
	cursor: pointer;
	&:hover, &:focus {
		color: $white;
	}
}
.btn-primary {
	background: $primary;
	border-color: $primary;
	&:hover, &:focus, &:active {
		background-color: darken($primary, 15%);
		border-color: darken($primary, 15%);
	}
}
.btn-secondary {
	background: $secondary;
	border-color: $secondary;
	&:hover, &:focus, &:active {
		background-color: darken($secondary, 15%);
		border-color: darken($secondary, 15%);
	}
}
.btn-tertiary {
	background: $tertiary;
	border-color: $tertiary;
	&:hover, &:focus, &:active {
		background-color: darken($tertiary, 15%);
		border-color: darken($tertiary, 15%);
	}
}
.btn-danger {
	background: $danger;
	border-color: $danger;
	&:hover, &:focus, &:active {
		background-color: darken($danger, 15%);
		border-color: darken($danger, 15%);
	}
}
.btn-success {
	background: $success;
	border-color: $success;
	&:hover, &:focus, &:active {
		background-color: darken($success, 15%);
		border-color: darken($success, 15%);
	}
}
.btn-disabled {
	background: $disabled;
	border-color: $disabled;
	&:hover, &:focus, &:active {
		background-color: darken($disabled, 15%);
		border-color: darken($disabled, 15%);
	}
}


/* Forms */
fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}
.input-column {
	margin-bottom: 2rem;
	.btn {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
}
.submit-column {
	margin-top: 1rem;
	text-align: center;
}
.notes-column {
	margin-top: 1rem;
	text-align: center;
}
.center-column {
	text-align: center;
}
.label-stn {
	display: block;
	margin-bottom: 5px;
	color: $secondary;
	font-size: 0.95em;
	font-weight: 600;
}
.description-stn {
	display: block;margin-top: 5px;
	color: $secondary;
	font-size: 0.8em;
	font-weight: 600;
	font-style: italic;
}
.input-stn, .select-stn {
	background: $white;
	height: 45px;
	line-height: 45px;
	padding: 0 15px;
	font-size: 1em;
	font-family: $sans;
	border: 1px solid $primary;
	border-radius: 6px;
	width: 100%;
	outline: none;
	&:focus {
		box-shadow: 0 0 10px 0 $primary;
	}
}
textarea.input-stn {
	height: 120px;
	line-height: 1.5;
	padding-top: 10px;
}
.SumoSelect {
	height: 45px;
	line-height: 45px;
	font-size: 1em;
	font-family: $sans;
	width: 100%;
	outline: none;
	> .CaptionCont {
		background: $white;
		width: 100%;
		height: 100%;
		padding: 0 15px;
		border: 1px solid $primary;
		border-radius: 6px;
		outline: none;
	}
	&.open {
		> .optWrapper {
			top: 42px;
			> .options {
				li.opt {
					background: $white;
					label {
						line-height: 1.8;
					}
				}
			}
		}
		.search-txt {
			height: 100%;
			padding: 0 15px;
			font-size: 0.85em;
		}
	}
	&:hover, &:focus, &.open {
		> .CaptionCont {
			box-shadow: 0 0 10px 0 $primary;
			border-color: $primary;
		}
	}
	.select-all.partial>span i, .SumoSelect .select-all.selected>span i,
	>.optWrapper.multiple>.options li.opt.selected span i {
		background-color: $tertiary;
	}
}
.submit-stn {
	cursor: pointer;
	@include media-breakpoint-down(xs) {
		width: 100%;
		padding-left: 0;
		padding-right: 0;

	}
}
.checkbox-stn {
	label {
		position: relative;
	}
	input[type="checkbox"] {
		display: none;
	}
	input[type="checkbox"] + .checkbox {
		display: inline-block;
		position: absolute;
		left: 0;
		height: 21px;
		width: 21px;;
		border: 2px solid $primary;
		border-radius: 2px;
		background: url(/images/check-white.png) center center no-repeat $background;
	}
	input[type="checkbox"]:checked + .checkbox {
		background-color: $tertiary;
		border-color: $tertiary;
	}
	span {
		color: $secondary;
		padding-left: 31px;
		display: inline-block;
	}
}
.error-message {
	color: $danger;
	font-size: 0.8em;
	margin-top: 3px;
	font-weight: 700;
}


.alert {
	margin-bottom: 1.5rem;
	padding: 1rem;
	border-radius: 6px;
	background: gray;
	border: 1px solid darken(gray, 15%);
	color: $black;
}
.alert-success {
	background-color: $msg-success-bg;
	border-color: $msg-success-text;
	color: $msg-success-text;
}
.alert-info {
	background-color: $msg-info-bg;
	border-color: $msg-info-text;
	color: $msg-info-text;
}
.alert-error {
	background-color: $msg-error-bg;
	border-color: $msg-error-text;
	color: $msg-error-text;
}
.alert-warning {
	background-color: $msg-warning-bg;
	border-color: $msg-warning-text;
	color: $msg-warning-text;
}


.table-stn {
	width: 100%;
	min-width: 100%;
	border-collapse: collapse;
	.center {
		text-align: center;
	}
	td, th {
		padding: 0.15rem 0.5rem 0.15rem 1rem;
		text-align: left;
		font-size: 0.8em;
		vertical-align: middle;
	}
	td + td, th + th {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}
	td:last-child, th:last-child {
		padding-right: 1rem;
	}
	tr:nth-child(odd) td {
		background: $background-alt;
	}
	th {
		color: $secondary;
		font-weight: 600;
	}
	td {
		height: 39px;
	}
	.table-footer td {
		background: $grey !important;
	}
	.btn {
		padding-left: 1rem;
		padding-right: 1rem;
		height: 2.25em;
		line-height: 2.25em;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 16px;
		position: relative;
		top: 1px;
	}
	.btn-edit {
		padding-left: 2rem;
		padding-right: 2rem;
		background-image: url(/images/icon-edit.png);
	}
	.btn-activate {
		background-image: url(/images/icon-activate.png);
	}
	.btn-deactivate {
		background-image: url(/images/icon-deactivate.png);
	}
	.btn-delete {
		background-image: url(/images/icon-delete.png);
	}
	.btn-view {
		background-image: url(/images/icon-view.png);
	}
	.links {
		form {
			display: inline-block;
			margin-left: 5px;
		}
		.open-links {
			@include media-breakpoint-up(lg) {
				display: none;
			}
		}
		.links-wrap {
			span {
				text-align: center;
				display: block;
				color: $secondary;
			}
		}
	}
	.view-link {
		a, button {
			display: inline-block;
			color: $secondary;
			background: transparent;
			cursor: pointer;
			border: 0;
			padding: 0;
			font-size: 1em;
			&:hover, &:focus {
				color: lighten($secondary, 30%);
			}
		}
	}
	.checkbox-stn {
		label {
			vertical-align: middle;
		}
		input[type="checkbox"] + .checkbox {
			position: static;
			vertical-align: bottom;
		}
	}
}
.table-wrap {
	overflow-x: scroll;
	border: 2px solid $background-alt;
	padding-top: 2px;
	width: 100%;
}
.table-scroll {
	width: auto;
	max-width: none;
	td, th {
		white-space: nowrap;
		&:last-child {
			padding-right: 1rem;
		}
	}
}

.dl-stn {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	dt, dd {
		margin: 0;
		padding: 0.5rem 0;
	}
	dt {
		font-weight: bold;
		flex: 0 0 25%;
		max-width: 25%;
		color: $secondary;
		padding-left: 20px;
		padding-right: 20px;
		&:nth-child(4n-1) {
			background: $background-alt;
		}
	}
	dd {
		flex: 0 0 75%;
		max-width: 75%;
		color: $black;
		&:nth-child(4n) {
			background: $background-alt;
		}
	}
	@include media-breakpoint-down(md) {
		dt {
			max-width: 40%;
			flex: 0 0 40%;
		}
		dd {
			max-width: 60%;
			flex: 0 0 60%;
			word-break: break-word;
		}
	}
}
.dl-header {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	dt, dd {
		margin: 0;
		padding: 0.5rem 0;
		font-weight: normal;
		color: $black;
	}
	dt {
		flex: 0 0 25%;
		max-width: 25%;
		padding-left: 20px;
		padding-right: 20px;
		&:nth-child(4n-1) {
			background: $background-alt;
		}
	}
	dd {
		flex: 0 0 75%;
		max-width: 75%;
		&:nth-child(4n) {
			background: $background-alt;
		}
	}
	dt:first-of-type, dd:first-of-type {
		color: $secondary;
		font-weight: bold;
	}
	@include media-breakpoint-down(md) {
		dt {
			max-width: 40%;
			flex: 0 0 40%;
		}
		dd {
			max-width: 60%;
			flex: 0 0 60%;
			word-break: break-word;
		}
	}
}

.sortable {
	cursor: pointer;
	&.filter:after {
		content: '';
		display: inline-block;
		margin-left: 10px;
		position: relative;
		height: 0;
		width: 0;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
		border-left: 5px solid transparent;
		border-right: 5px solid transparent;
	}
	&.filter-asc:after {
		border-top-color: $secondary;
		top: 4px;
	}
	&.filter-desc:after {
		border-bottom-color: $secondary;
		bottom: 3px;
	}
}

.pagination {
	text-align: center;
	.page-item {
		display: inline-block;
		margin: 0 8px;
		line-height: 1;
		&:first-child, &:last-child {
			font-size: 1.2em;
			&.disabled {
				display: none;
			}
			a {
				display: block;
				padding: 2px 10px 5px;
				background: $background;
				border: 1px solid $primary;
				border-radius: 6px;
				text-decoration: none;
				&:hover, &:focus {
					background-color: $background-alt;
				}
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.page-item {
			display: none;
			&:first-child, &:last-child {
				display: inline-block;
				a {
					padding: 2px 10px 5px;
				}
			}
		}
	}
}


/* HEADER */

header {
	.logo-bar {
		background: $primary;
		padding: 1rem;
		text-align: center;
		.container {
			position: relative;
		}
	}
	.logo {
		width: $logo-width;
	}
	.toggle-slide-menu {
		position: absolute;
		width: 35px;
		left: 0;
		top: 10px;
		.bar {
			display: block;
			width: 100%;
			height: 3px;
			border-radius: 1px;
			margin-bottom: 7px;
			background: $background;
			cursor: pointer;
		}
		@include media-breakpoint-up(md) {
			display: none;
		}
	}
	.user-nav {
		position: absolute;
		right: 0;
		top: 0;
		a {
			color: $white;
			display: inline-block;
			font-weight: 300;
			margin-left: 10px;
		}
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.main-nav {
		background: $secondary;
		min-height: 39px;
		.nav-item {
			display: inline-block;
			position: relative;
			&:hover, &:focus {
				.menu-item {
					background: $primary;
				}
				.submenu {
					display: block;
				}
			}
		}
		.menu-item {
			color: $white;
			padding: 0.5rem 10px;
			display: inline-block;
			font-weight: 300;
			text-decoration: none;
			&:hover, &:focus, &.active {
				background: $primary;
			}
		}
		.submenu {
			display: none;
			position: absolute;
			left: 0;
			top: 100%;
			min-width: 100%;
			background: $primary;
			.submenu-item {
				color: $white;
				padding: 0.5rem 10px;
				display: block;
				font-weight: 300;
				text-decoration: none;
				white-space: nowrap;
				&:hover, &:focus, &.active {
					background: $secondary;
					color: $white;
				}
			}
		}
		@include media-breakpoint-down(sm) {
			position: fixed;
			top: 0;
			bottom: 0;
			transition: left 0.2s linear;
			left: -1 * $slide-menu-width;
			height: 100%;
			width: $slide-menu-width;
			background: $background-alt;
			z-index: 1000;
			box-shadow: 1px 0 2px rgba(0,0,0,0.25);
			&.expanded {
				left: 0;
			}
			.container {
				padding: 0;
			}
			a {
				width: 100%;
				display: block;
				border-bottom: 1px solid rgba(0,0,0,0.25);
				padding: 0.75rem 15px;
				color: $secondary;
				background: transparent;
				font-weight: 400;
				&.active {
					background: transparent;
					color: $primary;
				}
				&:hover, &:focus {
					background: transparent;
				}
			}
		}
		@include media-breakpoint-up(md) {
			.user-links {
				display: none;
			}
		}
	}
}


/* FOOTER */

footer {
	background: $secondary;
	padding: 0.75rem 0;
	text-align: center;
	p {
		text-transform: uppercase;
		color: $white;
		font-weight: 300;
		margin: 0;
		font-size: 0.75em;
	}
}

/* UI */

.toolbar {
	background: $background-alt;
	padding: 1rem 0;
	height: 77px;
	.btn {
		line-height: 40px;
		height: 40px;
		padding: 0 1.5rem;
		border-radius: 4px;
		float: right;
		margin-left: 5px;
	}
	form {
		.input-stn {
			width: 170px;
			vertical-align: top;
			margin-right: 5px;
		}
		.select-stn, .SumoSelect {
			width: 170px;
			vertical-align: top;
			margin-right: 5px;
			&.sumo_filter_limit {
				width: 140px;
			}
		}
		.filters {
			float: left;
			@include media-breakpoint-down(lg) {
				position: absolute;
				z-index: 200;
				display: none;
				width: 300px;
				max-width: 100%;
				padding: 1rem 20px;
				background: $background;
				border: 1px solid $secondary;
				border-radius: 8px;
				.input-stn, .select-stn, .SumoSelect, .btn {
					width: 100%;
					margin-bottom: 1rem;
				}
				.btn {
					margin: 1rem 0 0;
				}
				&.expanded {
					display: block;
				}
			}
		}
	}
	&.always-collapse {
		form {
			.filters {
				position: absolute;
				z-index: 200;
				display: none;
				width: 300px;
				max-width: 100%;
				padding: 1rem 20px;
				background: $background;
				border: 1px solid $secondary;
				border-radius: 8px;
				.input-stn, .select-stn, .SumoSelect, .btn {
					width: 100%;
					margin-bottom: 1rem;
				}
				.btn {
					margin: 1rem 0 0;
				}
				&.expanded {
					display: block;
				}
			}
			.input-replace {
				@include media-breakpoint-up(lg) {
					width: 360px;
				}
			}
		}
	}
}

.tabs {
	margin: 0 0 2rem;
	padding: 0;
	border-bottom: 1px solid $secondary;
	li {
		display: inline-block;
		margin-bottom: -1px;
		a {
			display: block;
			color: $secondary;
			text-decoration: none;
			padding: 10px 20px;
			&.active {
				border: 1px solid $secondary;
				border-bottom-color: $background;
				background: $background;
				border-top-right-radius: 5px;
				border-top-left-radius: 5px;
			}
		}
	}
	@include media-breakpoint-down(md) {
		li a {
			padding-left: 8px;
			padding-right: 8px;
		}
	}
}

.tab-select .SumoSelect {
	margin-bottom: 2rem;
	> .CaptionCont {
		background: $background-alt;
	}
}

#content {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	min-height: 500px;
}

.page-register {
	h5 {
		margin-top: -0.5rem;
		margin-bottom: 2rem;
	}
}
#login-form,
#password-reset-form,
#password-email-form {
	max-width: 480px;
	margin-left: auto;
	margin-right: auto;
}
#password-reset-form,
#password-email-form {
	.submit-stn {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		@include media-breakpoint-down(xs) {
			padding-left: 0;
			padding-right: 0;

		}
	}
}

.dashboard-tiles {
	padding: 0;
	.tile {
		text-align: center;
		margin-bottom: 2rem;
		a {
			display: block;
			background: $background;
			border: 2px solid $secondary;
			border-radius: 6px;
			padding: 1rem 2rem;
			height: 100%;
			&:hover, &:focus {
				background: $background-alt;
			}
		}
		img {
			width: 200px;
		}
	}
}

.backdrop {
	display: none;
	position: fixed;
	z-index: 8888;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.5);
	&.expanded {
		display: block;
	}
}