/* Grid */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);


/* Colors */
$white:					#fff;
$black:					#000;

$grey:					#e8e8e8;

$disabled:				#a3a3a3;

$msg-success-bg:		#c6ffc4;
$msg-success-text:		#269622;
$msg-info-bg:			#dbe0ff;
$msg-info-text:			#3347bf;
$msg-error-bg:			#ffc6c6;
$msg-error-text:		#a50909;
$msg-warning-bg:		#fff0ba;
$msg-warning-text:		#aa9140;

$background:			$white;
$background-alt:		$grey;

$primary:				#452172;
$secondary:				#401942;
$tertiary:				#526d00;


/* Fonts */
$sans:				'Open Sans', sans-serif;
$serif:				'PT Serif', serif;


/* Misc */
$slide-menu-width:		235px;
$logo-width:			300px;